<div class="backgrounds overlay">
    <div class="background aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500"
        data-aos-anchor=".section--hero"
        style="background-image: url('https://bootstraplily.com/demo/detto-ui-kit/img/banner-image-three.jpg');"></div>
</div>


<div class="container-fluid banner-image">
    <div class="row">
        <div class="col-12">
            <!-- <img src="https://picsum.photos/id/1056/1424/562" alt="test" class="img-fluid"> -->
            <!-- <video class="img-fluid" style="min-width: 100%; min-height: 100%;" playsinline autoplay muted loop>
                <source class="h-100" src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
            </video> -->
            <!-- <div class="heroContent d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white">
                    <h1 class="mb-3"></h1>
                    <h5 class="mb-4">With its corporate office in Bangalore and client locations in both Bangalore and
                        Pondicherry, eTradeIndia
                        Consultancy Services is an Indian consulting firm.
                        We are professionals in management consulting and financial consulting, which can help
                        businesses
                        grow in an
                        existing vertical of operation or kick-start
                        a new domain of business in which the client is willing to expand. We offer business and
                        financial
                        management training to both students and corporates.</h5>
                    <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                        role="button" rel="nofollow" target="_blank">Start tutorial</a>
                    <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
                        target="_blank" role="button">Download MDB UI KIT</a>
                </div>
            </div> -->
            <div class="container pb-5 text-center">
                <div class="row py-5 align-items-center">
                    <div class="col-lg-12 my-5">
                        <h1 class="display-4 mb-5 font-weight-bold text-white" data-aos="zoom-in">eTradeIndia
                            Consultancy Services</h1>
                        <p class="h5 aa mb-4 pb-3 text-white-50 text-justify text-break lh-lg" data-aos="fade-up"
                            data-aos-easing="ease" data-aos-delay="400">With its corporate office in
                            Bangalore and client
                            locations in both Bangalore and
                            Pondicherry, eTradeIndia
                            Consultancy Services is an Indian consulting firm.
                            We are professionals in management consulting and financial consulting, which can help
                            businesses
                            grow in an
                            existing vertical of operation or kick-start
                            a new domain of business in which the client is willing to expand. We offer business and
                            financial
                            management training to both students and corporates.</p>
                        <!-- <div class="d-flex">
                            <a href="" class="btn btn-lg btn-danger mr-2"><i class="lni lni-apple mr-2"></i> Download
                                for IOS</a>
                            <a href="" class="btn btn-lg btn-danger"><i class="lni lni-play-store mr-2"></i> Download
                                for Android</a>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="px-4 py-5 text-white" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Our Process</h2>
    <div class="row featurette mx-0 my-5 text-white text-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Wealth School</h2>
            <p class="lead text-justify text-break">Wealth School is a financial consulting firm with mentors who have
                extensive experience in
                the
                financial markets. We offer mentoring in the areas of financial planning, stock market trading,
                investment
                planning, and portfolio management. We provide a higher rate of return for our clients than the bank's
                interest, fixed deposits, and recurring deposits since we help them continuously and consistently
                increase
                their wealth. We are open to forming partnerships with businesses, educational institutions,
                non-profits,
                and other places of business in order to offer training on any subject pertaining to managing money and
                accumulating wealth.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore</button>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="https://etradeconsulting.files.wordpress.com/2022/10/www.forex4india.in_.png" alt="" width="500"
                height="500">
        </div>
    </div>


    <div class="row featurette mx-0 my-5 text-white text-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">BoostSME</h2>
            <p class="lead text-justify text-break">BoostSME is a brand-new management consulting firm that helps brands
                solve problems via
                modern
                and traditional solutions. We have extensive experience working with premier institutions such as
                Presidency
                University and M.S.Ramaiah Groups in Bangalore, and we are now open to working with all brands and
                promising
                start-ups to create a winning strategy using our industry experience and expertise.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore</button>
            </div>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                src="https://etradeconsulting.files.wordpress.com/2022/10/boostsme-copy.png" alt="" width="500"
                height="500">
        </div>
    </div>
</div>



<div class="px-4 py-5 text-white" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Our Process</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                    class="bi bi-1-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Understand</h3>
                <p>The key factor to a successful consultant is to understand the requirements, problems, future plans
                    and analyzing past financials of the client.</p>
                <!-- <a href="#" class="btn btn-primary">
                    Primary button
                </a> -->
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                    class="bi bi-2-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Analyse</h3>
                <p>With the collected report, we would analyze the details on how the operations can be improvised.</p>
                <!-- <a href="#" class="btn btn-primary">
                    Primary button
                </a> -->
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                    class="bi bi-3-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Create</h3>
                <p>With the analyzed report, We would create our Plan of Action for the given project and present it to
                    the client.</p>
                <!-- <a href="#" class="btn btn-primary">
                    Primary button
                </a> -->
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                    class="bi bi-4-square-fill" viewBox="0 0 16 16">
                    <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z" />
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z" />
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Build</h3>
                <p>Once the client is happy with the Plan of Action, We would join hands and work on the project for the
                    betterment of the client.</p>
                <!-- <a href="#" class="btn btn-primary">
                    Primary button
                </a> -->
            </div>
        </div>
    </div>
</div>